---
layout: default
---
<div class="page-header">
    <h1>Latest posts</h1>
</div>

{% for post in paginator.posts %}
<div class="page-header">
    <h2><span class="label">{{ post.date }}</span><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
</div>
{% endfor %}

<div class="pagination">
    <ul>
        <li class="prev">
        {% if paginator.previous_page == 1 %}
            <a href="{{ site.url }}">Previous</a>
        {% elsif paginator.previous_page %}
            <a href="{{ site.url }}/page{{paginator.previous_page}}">Previous</a>
        {% else %}
            <a>Previous</a>
        {% endif %}
        </li>
        <li><a>Page {{paginator.page}} of {{paginator.total_pages}}</a></li>
        <li class="next">
        {% if paginator.next_page %}
            <a href="{{ site.url }}/page{{paginator.next_page}}">Next</a>
        {% else %}
            <a>Next</a>
        {% endif %}
        </li>
    </ul>
</div>
