---
layout: default
---
<div class="page-header">
    <h1>Latest posts</h1>
</div>

<ul>
{% for post in paginator.posts %}
    <li><span class="label">{{ post.date }}</span><br><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<div class="pagination">
    <ul>
        {% if paginator.previous_page == 1 %}
        <li class="prev"><a href="{{ site.url }}">Previous</a></li>
        {% elsif paginator.previous_page %}
        <li class="prev"><a href="{{ site.url }}/page{{paginator.previous_page}}">Previous</a></li>
        {% else %}
        <li class="prev disabled"><a>Previous</a></li>
        {% endif %}

        <li class="disabled"><a>Page {{paginator.page}} of {{paginator.total_pages}}</a></li>

        {% if paginator.next_page %}
        <li class="next"><a href="{{ site.url }}/page{{paginator.next_page}}">Next</a></li>
        {% else %}
        <li class="next disabled"><a>Next</a></li>
        {% endif %}
    </ul>
</div>
